
body{margin:0;}

.BG { 
  background-color: black;
  padding: 14px 15px;
  text-align: center;
  line-height: 1.8;
  color:white; 
  margin:0;
  top:20px;
}


.list{
  background-image: url('img8.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


 h1 {
  color:#f9aaad;
  text-align: center;
}

h2 {font-family: "Cursive";
  font-size: 190%;
  color: #f9aaad;
}

 h3 {
  color:#f9aaad;
  text-align: center;
  font-size: 110%;
}

 h4 {
  color:#f9aaad;
  text-align: center;
   font-size: 110%;
}

 h5 {
  color:#f9aaad;
  text-align: center;
   font-size: 110%;
}







title{color: black;
  text-align: center;}

.hua{
  top: 550px;
  left: 150;
  position: absolute;
  animation:hua 18s infinite;
}

@keyframes 
 hua {
   0%   { left:400px; top: 100px;}
  25%  { left: 800px; top: 400px;}
  50%  { left: 600px; top: 800px;}
  60%  { left: 200px; top: 600px;}
  75%  { left: 300px; top: 1200px;}
  100% { left: 150px; top: 200px;}
}

.fl{
  top: 300px;
  left: 460;
  position: absolute;
  animation:fl 45s infinite; 
}

@keyframes 
 fl {
   0%   { left:700px; top: 200px;}
  25%  { left: 100px; top: 400px;}
  50%  { left: 300px; top: 1400px;}
  60%  { left: 100px; top: 900px;}
  75%  { left: 700px; top: 1900px;}
  100% { left: 200px; top: 100px;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #59aef0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3484ed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

